{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
  <div class="info-block">
      <p id="adress-text"><b>Наш адрес:</b> РФ, Ставропольский край, г. Ставрополь, ул. Пирогова 78</p> 
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2821.32076450669!2d41.90817733329738!3d44.99810770559674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40f9abadd7d85ec3%3A0x1765f7147b095b1!2z0YPQuy4g0J_QuNGA0L7Qs9C-0LLQsCwgNzgsINCh0YLQsNCy0YDQvtC_0L7Qu9GMLCDQodGC0LDQstGA0L7Qv9C-0LvRjNGB0LrQuNC5INC60YDQsNC5LCAzNTUwMTE!5e0!3m2!1sru!2sru!4v1672210832508!5m2!1sru!2sru" width="600" height="450" style="border:5;"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
{% endblock content %}