{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
  <div class = "group-card">
    {% for el in elements %}
      <a href="./liquid.html">
        <div class="card" style="width: 15rem;">
          <img src="{{media}}{{el.img}}" class="card-img-top card-sep" alt="{{name}}">
          <div class="card-body">
            <p class="card-text"><b>Жидкости для подов</b></p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  <div class="content-text">
    <p><i><b>Большой выбор, доступные цены, сертифицированный товар.</b></i></p>
    <p><i><b>Скидка 5% каждому покупателю.</b></i></p>
  </div>
{% endblock content %}
